body {
  background: url('picture/music.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: center;
}

img {
  width: 200px;
  height: 200px;
  margin-left: 30px;
  margin-top: 20px;
  border-radius: 50%; 
  filter: grayscale(50%);
  border: 4px solid rgb(179, 179, 179);
    
}

.data {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgb(179, 179, 179);
  text-align: center;
  line-height: 55px;
  
  
}

p {
  max-width: 70%;
  font-size: 30px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  font-family: "IM Fell English SC", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  
}


ul {
  list-style-type: none;
  letter-spacing: 0.5em;
}

li {
  display: inline;
}

.links {
  width: 198vh; 
  height: 40vh;
  float: left;
  margin-top: 50px;
  float: left;
  max-width: 98%;
  
}


iframe {
  border-radius: 20%;
  border: 0;
  padding: 10px;
}


img:hover {
  transform: scale(1.4);
  transition: all 0.9s ease-in-out;
   filter: grayscale(40%);
}

h1, h2, p {
  text-shadow: 3px 3px 3px rgb(27, 26, 27);
}

h1 {
  padding: 35px;
}

h1:hover {
  transform: scale(1.1);
  transition: all 0.9s ease-in-out;
}

h2:hover {
  transform: scale(1.1);
  transition: all 0.9s ease-in-out;
}

i:hover {
  transform: scale(1.2);
  transition: all 0.6s ease-in-out;
}

i {
  font-size: 50px;
}

.blue {
  color:blue;
}

.purple {
  color: purple;
}

.orange {
  color: orange;
}

.red {
  color: red;
}


